/* Start of Header Style Code */

:root {
    /* Body Style*/
    --body-color: #161722;
    --body-light-color: #ffffff;
    --body-line-height: 24px;
    --body-size: 16px;
    --body-font: Roboto Condensed;
    --text-transform : uppercase;
    --primary-color : #FFD2A4;
    --body-font : 'Roboto Condensed', sans-serif;

}

header {
    background: #0D0D0D;
}

.header__container {
    display: flex;
    align-items: center;
}


.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    font-size:  var(--body-size);
    line-height: 19px;
    text-align: right;
    text-transform: var(--text-transform);
    color: #FFFFFF;
    opacity: 0.9;
}


.nav__item{
    margin: 0 24px;
}

.nav__item:first-of-type{
    margin-left: 0;
}

.divider{
    width: 2px;
    height: 80px;
    background: white;
    margin: 0 64px;
    opacity: 0.1;
}


/* End of Header Style Code */